.category-container {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.category-title{
  color: var(--ion-color-tertiary);
  background-color: rgb(68, 65, 65); 
  border-radius: 2px;
}

.recipe-list {
  display: flex; 
  flex-wrap: wrap; 
  gap: 15px; 
}

.recipe-item {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  background-color: rgb(28, 12, 12);
  border-radius: 50px;
}

.recipe-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  border: 3px solid rgb(8, 151, 18);
}

.recipe-item:hover{
  transform: scale(1.2); 
}