<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>User</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

@if (authService.currentUserSig()==null) {
  <login></login>
  <register> </register>
}
@if (authService.currentUserSig()) {
  <ion-button (click)="logout()">Logout</ion-button>
}


</ion-content>
