<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Add Recipe</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="image-upload">
    <ion-img
      class="upload-img"
      [src]="imageUrl || 'assets/img/placeholder.png'"
      (click)="triggerFileInput()"
    ></ion-img>
  
    <input
      type="file"
      id="fileInput"
      (change)="onFileSelected($event)"
      accept="image/*"
      capture="camera"  
      style="display: none"
    />
  </div>
  

  <!-- <div class="image-upload">
    <input type="file" (change)="onFileSelected($event)" accept="image/*" capture="camera">
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image">
  </div> -->
  
  
  <form [formGroup]="recipeForm" (submit)="submitRecipe()">

    <ion-item>
      <ion-label position="stacked">Recipe Name</ion-label>
      <ion-input formControlName="name" placeholder="Recipe Name"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Category</ion-label>
      <ion-select formControlName="category" interface="action-sheet" placeholder="Select Category" (ionChange)="categoryChanged($event)">
        <ion-select-option *ngFor="let category of categories$ | async" [value]="category">{{ category }}</ion-select-option>
        <ion-select-option value="__new__">➕ Add New Category</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button
      size="small"
      fill="clear"
      (click)="removeCategory()"
      [disabled]="!recipeForm.controls['category'].value">
      <ion-icon name="remove-outline"></ion-icon>
        Remove Category
    </ion-button>
    <!-- Submit Button -->
    <ion-button class="submitRecipe" expand="block" type="submit" [disabled]="isSubmitting || recipeForm.invalid">
      Add Recipe
    </ion-button>
  
  </form>

 <!-- <h1>Add Category</h1>
 <div>
  <input type="text" [(ngModel)]="newCategory" placeholder="New Category Name">
  <button (click)="addCategory()">Add Category</button>
 </div> -->

 <!-- <h1>Remove Category</h1>
  <div>
    <select (change)="removeCategory($any($event.target).value)">
      <option value="" disabled>Select a Category to Remove</option>
      <option *ngFor="let category of categories$ | async" [value]="category">{{ category }}</option>
    </select>
  </div> -->

  <!-- <h1>Select Recipe</h1>
  <div>
    <select [(ngModel)]="selectedRecipe">
      <option value="" disabled>Select a Recipe to Remove</option>
      <option *ngFor="let recipe of recipes$ | async" [value]="recipe.id">{{ recipe.name }}</option>
    </select>
  </div>
  
  <button (click)="deleteRecipe()" [disabled]="!selectedRecipe">
    Delete Selected Recipe
  </button> -->


</ion-content>
